.text-black {
  color: var(--var-color-black) !important;
}

.text-white {
  color: var(--var-color-white) !important;
}

.bg-black {
  background-color: var(--var-color-black) !important;
}

.bg-white {
  background-color: var(--var-color-white) !important;
}
