.text-black {
  color: var(--var-color-black) !important;
}

.text-white {
  color: var(--var-color-white) !important;
}

.text-green {
  color: var(--var-color-green) !important;
}

.text-grey {
  color: var(--var-color-grey-v2) !important;
}

.bg-black {
  background-color: var(--var-color-black) !important;
}

.bg-white {
  background-color: var(--var-color-white) !important;
}