.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.fs-40 {
  font-size: 40px;
}

.fs-44 {
  font-size: 44px;
}

.fw-light {
  font-family: 'product-pro-light';
}

.fw-normal {
  font-family: 'product-pro-regular';
}

.fw-medium {
  font-family: 'product-pro-medium';
}

.fw-bold {
  font-family: 'product-pro-bold';
}

.fw-black {
  font-family: 'product-pro-black';
}

@media (max-width: 767px) {
  .fs-10 {
    font-size: 8px;
  }

  .fs-12 {
    font-size: 10px;
  }

  .fs-14 {
    font-size: 12px;
  }

  .fs-16 {
    font-size: 14px;
  }

  .fs-18 {
    font-size: 16px;
  }

  .fs-20 {
    font-size: 18px;
  }

  .fs-22 {
    font-size: 20px;
  }

  .fs-24 {
    font-size: 22px;
  }

  .fs-28 {
    font-size: 24px;
  }

  .fs-32 {
    font-size: 28px;
  }

  .fs-36 {
    font-size: 32px;
  }

  .fs-40 {
    font-size: 36px;
  }

  .fs-44 {
    font-size: 40px;
  }
}
