.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-3 {
  letter-spacing: 3px;
}

.ls-4 {
  letter-spacing: 4px;
}

.ls-5 {
  letter-spacing: 5px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  -webkit-line-clamp: 4;
}

.border,
.border-start,
.border-end,
.border-top,
.border-bottom {
  border-color: var(--var-color-white) !important;
}

.border.yellow,
.border-start.yellow,
.border-end.yellow,
.border-top.yellow,
.border-bottom.yellow {
  border-color: var(--var-color-green) !important;
}

.border.black,
.border-start.black,
.border-end.black,
.border-top.black,
.border-bottom.black {
  border-color: var(--var-color-black) !important;
}

.border.grey,
.border-start.grey,
.border-end.grey,
.border-top.grey,
.border-bottom.grey {
  border-color: var(--var-color-grey) !important;
}

.custom-input {
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  padding: 7px 24px;
  color: var(--var-color-white) !important;
  border: 1px solid var(--var-color-grey) !important;
  background-color: var(--var-color-grey) !important;
  border-radius: 24px !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  padding: 7px 24px;
  border: 1px solid var(--var-color-green) !important;
  border-radius: 24px !important;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary,
.btn-secondary:hover {
  background-color: var(--var-color-green) !important;
  color: var(--var-color-black) !important;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: transparent !important;
  color: var(--var-color-green) !important;
}

.avatar-xxs {
  width: 16px;
  height: 16px;
}

.avatar-xs {
  width: 24px;
  height: 24px;
}

.avatar-sm {
  width: 32px;
  height: 32px;
}

.avatar-md {
  width: 48px;
  height: 48px;
}

.avatar-lg {
  width: 64px;
  height: 64px;
}

.avatar-xl {
  width: 72px;
  height: 72px;
}

.avatar-xxl {
  width: 96px;
  height: 96px;
}