:root {
  --var-color-black: #000;
  --var-color-white: #fff;
  --var-color-black-rgb: 0, 0, 0;
  --var-color-white-rgb: 255, 255, 255;
  --var-color-green: #48B686;
  --var-color-green-rgb: 72, 182, 134;
  --var-color-grey: #1d1d1d;
  --var-color-grey-v2: #bbb;
}