.main-header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s;
  z-index: 9999;
}

.header-nav {
  li {
    a {
      color: var(--var-color-white);

      &:hover {
        color: var(--var-color-green);
      }
    }
  }
}

.mobile-menu {
  z-index: 9;

  .nav-icon {
    width: 30px;
    height: 21px;
    position: relative;

    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: var(--var-color-white);
      border-radius: 10px;
      left: 0;
      transition: all 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 9px;
      }

      &:nth-child(3) {
        top: 18px;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 9px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          top: 9px;
          opacity: 0;
          left: -30px;
        }

        &:nth-child(3) {
          top: 9px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--var-color-black-rgb), 0.5);
  opacity: 0;
  visibility: hidden;
  backdrop-filter: blur(5px);
  transition: all 0.25s ease-in-out;
  z-index: -1;

  &.open {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .header-nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    right: -300px;
    height: 100%;
    background-color: var(--var-color-black);
    padding-top: 70px;
    z-index: 9;
    transition: all 0.25 ease-in-out;

    li {
      a {
        display: block;
        font-size: 18px;
        padding: 10px 28px;
      }
    }

    &.open {
      right: 0;
    }
  }
}

@media (max-width: 575px) {
  .header-nav {
    width: 85%;
    right: -100%;
  }
}
